/* CSS stylesheet for invitation1 in HTML */
BODY {margin-top: 1em;     /* global page parameters */
      margin-bottom: 1em; 
      margin-left: 1em; 
      margin-right: 1em; 
      font-family: serif; 
      line-height: 1.1; 
      color: black;
}
H1   {text-align: center;  /* for global title   */
      font-size: x-large;
}
P    {text-align: justify; /* paragraphs in body */
      margin-top: 1em;
}
TABLE { border-width: 0pt }
TBODY { border-width: 0pt }
TD[class="front"] {        /* table data in front matter */
      text-align: left; 
      font-weight: bold;
}
TD.front {        /* table data in front matter */
      text-align: left; 
      font-weight: bold;
}
EM   {font-style: italic;  /* emphasis in body   */
}
P.signature {     /* signature          */
      text-align: right; 
      font-weight: bold;
}
