H2 { border : 2pt solid brown ; color : maroon ; padding : 5pt }
TD.eqno {color : green ; fontweight : 700 } /* equation-number cells */
TABLE.subequations { background-color : #E0E0E0 ; }
P  { line-height : 18pt ; }
