 
/* start css.sty */
.cmsy-7{font-size:70%;}
.emr-17{font-size:170%;}
.emr-12{font-size:120%;}
.emtt-10{font-family: monospace;}
.emr-7{font-size:70%;}
.emr-5{font-size:50%;}
.emmi-7{font-size:70%;}
.emmi-5{font-size:50%;}
.emti-10{font-style: italic;}
.small-caps{font-variant: small-caps; }
p.noindent { text-indent: 0em }
p.indent{ text-indent: 1.5em }
.sub, .sup {font-size:110%}
.Canvas { position:relative; }
img.mathdisplay{ margin-top: 1em; margin-bottom: 1em; }
li p.indent, li p.indent{ text-indent: 0em }
p.bibitem { text-indent: -2em; margin-left: 2em; }
.quote {margin-bottom:0.25em; margin-top:0.25em; margin-left:1em; }
DIV.td00{ margin-left:0; margin-right:0; }
DIV.td01{ margin-left:0; margin-right:5; }
DIV.td10{ margin-left:5; margin-right:0; }
DIV.td11{ margin-left:5; margin-right:5; }
.hline hr, .cline hr{ height : 1px; }
.verbatim {margin-bottom:0.5em; margin-top:0.5em; }
span.footnotetext{ font-size:75%; font-style:italic; } 
span.TEX {letter-spacing: -0.125em; }
span.TEX span.E{ position:relative;top:0.5ex;left:-0.0417em;}
a span.TEX span.E {text-decoration: none; }
span.LATEX span.A{ position:relative; top:-0.5ex; left:-0.4em; font-size:85%;}
span.LATEX span.TEX{ position:relative; left: -0.4em; }
.marginpar {width:20%; float:right; text-align:left; margin-left:1em; margin-top:0.5em; font-size:85%; text-decoration:underline;}
.equation TD{text-align:center; }
.obeylines-h,.obeylines-v {white-space: nowrap; }
span.pmatrix img{vertical-align:middle;}
.underline{ text-decoration:underline; }
.overline{ text-decoration:overline; }
td.caption{white-space: nowrap; }
h2.titleHead{text-align:center;}
div.maketitle{ margin-bottom: 2em; }
h1.partHead{text-align: center}
.paragraphHead, .likeparagraphHead { margin-top:2em; font-weight: bold;}
.subparagraphHead, .likesubparagraphHead { font-weight: bold;}
/* end css.sty */
